.user1 {
  width: 180px;
  background: #fff;
  margin :5px 0px 0px 199px;
}

.username1{
  display: none;
  
}
.user1 p{
  padding: 7px;
  border-radius: 10px 10px 0px 10px;
  margin: auto;
  font-size: 13px;
  text-overflow: ellipsis;
  word-break: break-all;
  background: #CAF3FC;
}

.username2{
  text-align: left;
  font-size: 13px;
  font-weight: 550;
  margin-bottom: 2px;
}
.user2 {
  width: 180px;
  background: #fff;
  margin: 5px 0px 0px 13px;
}

.user2 p{
  padding: 7px;
  border-radius: 10px;
  margin: auto;
  font-size: 13px;
  text-overflow: ellipsis;
  word-break: break-all;
  background: #F4F3F2;
}

